body {
    background-color: #E8E1D9;
    color: #301D10;
    font-family: 'Cormorant Garamond', serif;
}

/* don't highlight the text on the buttons (radio button labels) */
button, p.title, label, p.questionNumber {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ..................................................................................... */

form {
    /* outline: 2px solid black; */
    background-color: white;
    /* height: 1000vh !important; */
    /* min-height: 50vh; */
    /* min-width: 300px; */
}

form.box {
    border-radius: 1px;
}

/* hide all the questions that aren't selected */
.question {
    display: none;
    
}

.question.active, #resultDiv.active {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* min-height: 70vh; */
    height: fit-content !important;
    /* outline: 1px solid blue; */

}


.question-holder {
    /* color: #373B4D; */
    /* outline: 1px solid red; */
    width: 100%;
    height: 30vh;
    border: 2px solid #E8E1D9;

}

.questionNumber {
    color: #373B4D;
    /* outline: 1px solid green; */
    /* height: 20px; */
}

#buttonHolder {
    /* outline: 1px solid yellow; */
    width: 100%;
    /* height: 20px; */
    display: flex;
    align-items: flex-end;
}

.resultStatement {
    margin-top: 2vh;
    font-size: 1.5rem;
}



/* ......................................................................................... */

#title {
    border-bottom: 2px solid #301D10;
    padding-bottom: 1vh;
}

/* ................................................................. */

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    padding: 10px;
    background-color: #ddd;
    border-radius: 1px;
    cursor: pointer;
    width: 200px;
    margin: 3px;
}

input[type="radio"]+label:hover {
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"]+.agreeButton:hover {
    background-color: rgb(105, 201, 145);
}

input[type="radio"]+.disagreeButton:hover {
    background-color: rgb(204, 155, 155);
}

input[type="radio"]:checked+label {
    background-color: #aaa;
}

.container {
    display: flex;
    justify-content: space-around;
}

#start-over {
    text-align: center;
    margin: 5%;
    /* width: 100%; */
    background-color: transparent;
    /* outline: 1px solid #373B4D; */
    width: 200px;
    font-size: 1rem;
}

#resultDiv {
    height: 100%;
    border-bottom: 2px solid #301D10;
}

#resultDiv h1 {
    font-size: 3rem;
    text-decoration: underline;
    /* border-bottom: 1.5px solid #301D10; */
}

#descriptionDiv {
    height: 100%;
}

/* ....................................................................................................... */

@media only screen and (max-width: 500px) {

    #buttonHolder {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10vh !important;
    }

    .is-size-3 {
        font-size: 1.5rem !important;
    }

    #resultDiv h1 {
        font-size: 2rem;
        text-decoration: underline;
        /* border-bottom: 1.5px solid #301D10; */
    }


}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 1.5rem;
    }
}